.noticeContainer{
    width: 100%;
    margin: 2rem auto;
}

.noticeTable{
    margin:auto;
    border-radius: 12px;
    overflow: hidden;
}

.noticeTable th{
    background-color: rgb(24, 163, 24);
    color: white;
    font-size: 12px;
    padding:0 1rem;
}

.noticeTable td{
    background-color: rgb(249, 250, 248);
    font-size: 12px;
    padding:0.5rem;
}

.noticTitle{
    background-color: green;
    color:white;
}