.cardContainer {
  width: 4rem;
  border: 0.5px solid rgb(47, 255, 255);
  box-shadow: 2px 2px 2px gray;
  border-radius: 10px;
  background-color: rgb(155, 216, 231);
  text-align: center;
  margin: 0.5rem;
  position:relative;
}

.cardCleared{
  width: 4rem;
  border: 0.5px solid rgb(47, 255, 255);
  box-shadow: 2px 2px 2px gray;
  border-radius: 10px;
  background-color: rgb(155, 216, 231);
  text-align: center;
  margin: 0.5rem;
  position:relative;
  filter:grayscale(40%);
  opacity:0.5;
}

.clearedSign{
  position:absolute;
  right:0%;
  top:20%;
  background-color: gray;
  border:2px solid white;
  border-radius:50%;
  padding:0 1rem;
  color:white;
  font-size:0.5rem;
  z-index:10;
}

.levelDisplay {
  width: 100%;
  display: flex;
  align-items: center;
}

.levelNumber {
  text-align: center;
  margin: 0.25rem;
}

.level{
  height: 0.75rem;
  width: 0.75rem;
  background-color: white;
  text-align: center;
  padding: 2px;
  border: none;
  border-radius: 50%;
  margin: 0.125rem;
  font-size: 0.8rem;
}

.levelName {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-size: 0.8rem;
}

.technicalImg {
  width: 100%;
  height: 5rem;
  background-color: white;
  object-fit: contain;
}

.technicalImg img{
  width:100%;
  height: 100%;
}

.detailButton {
  text-align: end;
  margin: 0.5rem;
  display: flex;
  gap:0.5rem;
  position: relative;
}

.detailButton Button{
  text-decoration: none;
  background-color:rgb(155, 216, 231);
  color: white;
  border-radius: 50px;
  width: 1.5rem;
  height: 0.75rem;
  font-size: 0.3rem;
  margin: auto;
  padding: 0.125rem 0.25rem;
  box-shadow: 0 2px 4px gray;

}

.categoryWrapper{
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  padding:0 1rem;
  justify-content: center;
  margin:0.5rem;
  align-items: center;
}

.categoryWrapper h3{
  font-size: 0.75rem;
  margin:0;
}

.categoryButton{
  margin:auto;
  background-color: white;
  border:1px solid green;
  border-radius: 10px;
  color: green;
  padding:0.25rem 0.5rem;
  font-size: 0.5rem;;
}

.categoryButton p{
  margin:0;
}

.skillCategory{
  text-decoration: none;
  color:rgb(155, 216, 231);
  background-color: white;
  border-radius: 12px;
  font-size: 0.3rem;
  text-align: center;
  padding: 0.125rem 0.25rem;
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: space-between;
}

.skillCategory h3{
  margin:0;
}

.skillCategory p{
  margin:0;
  font-size: 0.5rem;
}

.modalImg{
  width:12rem;
  border-radius: 10px;
}

.description{
  margin:1rem; 
}

.commentTitle{
  background-color: white;
  padding: 0.5rem;
  border-radius: 1rem;
}

.commentTitle h3{
  font-size: 0.75rem;
  margin:0;
}
.commentTitle p{
  font-size: 0.5rem;
}

.titleWrapper{
    display: flex;
    justify-content: center;
    align-items: center;
}

.tipsWrapper{
    display: flex;
    background-color: rgb(234, 235, 223);
    border-radius: 0.5rem;
    padding:0.125rem 0.25rem;
    align-items: center;
    margin:0.5rem 0;
}

.tipsText{
  margin:0.5rem;
  height: 3rem;
  width: 100%;
  border-radius: 1rem;
  padding:0.5rem;
  vertical-align: top;
}

.userWrapper img{
  height: 2rem;
  width: 2rem;
  margin:0;
}

.userWrapper p{
  margin:0;}


  .submitButton{
    text-align: end;
  }


@media (min-width:768px){
    .commentTitle{
    width:70%;
    margin:auto;
    padding:2rem;}

    .tipsText{
  margin:0.5rem;
  width:100%;
  height: 3rem;
  align-items: center;
}

.cardContainer {
  width: 9rem;
  border: 0.5px solid rgb(47, 255, 255);
  box-shadow: 2px 2px 2px gray;
  border-radius: 10px;
  background-color: rgb(155, 216, 231);
  text-align: center;
  margin: 0.5rem;
  position:relative;
}

.cardCleared{
  width: 9rem;
  border: 0.5px solid rgb(47, 255, 255);
  box-shadow: 2px 2px 2px gray;
  border-radius: 10px;
  background-color: rgb(155, 216, 231);
  text-align: center;
  margin: 0.5rem;
  position:relative;
  filter:grayscale(40%);
  opacity:0.5;
}

.clearedSign{
  position:absolute;
  right:0%;
  top:20%;
  background-color: gray;
  border:2px solid white;
  border-radius:50%;
  padding:0 1rem;
  color:white;
  font-size:0.75rem;
  z-index:10;
}

.levelDisplay {
  width: 100%;
  display: flex;
  align-items: center;
}

.levelNumber {
  text-align: center;
  margin: 0.5rem;
}

.level{
  height: 1.25rem;
  width: 1.25rem;
  background-color: white;
  text-align: center;
  padding: 2px;
  border: none;
  border-radius: 50%;
  margin: 0.125rem;
  font-size: 0.8rem;
}

.levelName {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-size: 0.8rem;
}

.technicalImg {
  width: 100%;
  height: 10rem;
  background-color: white;
  object-fit: contain;
}

.technicalImg img{
  width:100%;
  height: 100%;
}

.detailButton {
  text-align: end;
  margin: 0.5rem;
  display: flex;
  gap:0.5rem;
  position: relative;
}

.detailButton Button{
  text-decoration: none;
  background-color:rgb(155, 216, 231);
  color: white;
  border-radius: 50px;
  width: 3rem;
  height: 1.5rem;
  font-size: 0.75rem;
  margin: auto;
  padding: 0.25rem 0.5rem;
  box-shadow: 0 4px 8px gray;

}

.categoryWrapper{
  display: flex;
  flex-direction: row;
  gap: 1rem;
  padding:0 2rem;
  justify-content: center;
  margin:1rem;
  align-items: center;
}

.categoryWrapper h3{
  font-size: 1.5rem;
  margin:0;
}

.categoryButton{
  margin:auto;
  background-color: white;
  border:1px solid green;
  border-radius: 10px;
  color: green;
  padding:0.25rem 0.75rem;
  font-size: 0.75rem;;
}

.categoryButton p{
  margin:0;
}

.skillCategory{
  text-decoration: none;
  color:rgb(155, 216, 231);
  background-color: white;
  border-radius: 12px;
  font-size: 0.75rem;
  text-align: center;
  padding: 0.125rem 0.5rem;
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: space-between;
}

.skillCategory h3{
  margin:0;
}

.skillCategory p{
  margin:0;
  font-size: 0.5rem;
}

.modalImg{
  width:12rem;
  border-radius: 10px;
}

.description{
  margin:2rem; 
}

.commentTitle{
  background-color: white;
  padding: 1rem;
  border-radius: 1rem;
}

.commentTitle h3{
  font-size: 1rem;
  margin:0;
}
.commentTitle p{
  font-size: 0.75rem;
}

.titleWrapper{
    display: flex;
    justify-content: center;
    align-items: center;
}

.tipsWrapper{
    display: flex;
    background-color: rgb(234, 235, 223);
    border-radius: 0.5rem;
    padding:0.25rem 0.5rem;
    align-items: center;
    margin:1rem 0;
}

.tipsText{
  margin:0.5rem;
  height: 3rem;
  width: 100%;
  border-radius: 1rem;
  padding:0.5rem;
  vertical-align: top;
}

.userWrapper img{
  height: 3rem;
  width: 3rem;
  margin:0;
}

.userWrapper p{
  margin:0;}


  .submitButton{
    text-align: end;
  }
}