.tipsContainer{
    display: flex;
    background-color: white;
    border:1px solid rgb(22, 228, 22);
    border-radius: 1rem;
    padding:0.125rem 0.5rem;
    align-items: center;
    margin:1rem 0;
}

.tipsContainer img{
    width: 3rem;
    height: 3rem;
    background-color: beige;
    border-radius: 25%;
}

.tipsContainer p{
    font-size: 0.75rem;
    margin:0;
}

.tipsText{
    margin:1rem;
    text-align: start;
}

