.contentsWrapper {
  margin: auto;
  margin-top: 5rem;
  padding-bottom: 5rem;
}

.contentsWrapper h1 {
  text-align: center;
  font-size: 1.5rem;
}

.contentsWrapper h2 {
  text-align: center;
}

.imgContainer {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
  mask-image: linear-gradient(
    to right,
    transparent 0%,
    black 15%,
    black 55%,
    transparent 100%
  );

  -webkit-mask-image: linear-gradient(
    to right,
    transparent 0%,
    black 15%,
    black 55%,
    transparent 100%
  );
}

.imgWrapper {
  width: 100%;
  display: flex;
  animation: slideAnime 18s linear infinite;
  gap: 10%;
}

@keyframes slideAnime {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(calc(-1 * (76vw * 3 + 10vw * 3)));
  }
}

.commonContainer {
  border: solid 2px green;
  border-radius: 10px;
  object-fit: contain;
  background-color: rgb(247, 247, 234);
  flex: 0 0 75%;
}

.commonContainer h2 {
  margin: 0;
  text-align: center;
  padding: 1rem;
  font-size: 16px;
}

.commonContainer p {
  margin: 0;
  padding: 0.5rem;
  font-size: 12px;
}

.commonContainer img {
  width: 100%;
}

.button {
  margin: 3rem auto;
  text-align: center;
}

.linkButton {
  text-decoration: none;
  color: white;
}

@media (min-width: 768px) {
  .commonContainer{
    flex:0 0 25%;
  }

  .commonContainer h2{
    font-size: 1.5rem;
  }

  .commonContainer p{
    font-size: 1rem;
  }

  .imgWrapper {
  width: 100%;
  display: flex;
  animation: slideAnime 22s linear infinite;
  margin:3rem;
  gap: 10%;
}

@keyframes slideAnime  {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(calc(-1 * (29vw * 3 + 6vw * 3)));
  }
}
}
