.contentsWrapper {
  margin: auto;
  margin-top: 5rem;
  padding-bottom: 5rem;
}

.contentsWrapper h1 {
  text-align: center;
  font-size: 1.5rem;
}

.contentsWrapper h2 {
  text-align: center;
}

.new{
  background-color: white;
  padding:0.125rem 0.5rem;
  border: 0.5px solid rgb(238, 222, 222);
  border-radius: 2rem;
  color: red;
  box-shadow: 2px 2px rgb(232, 228, 228);
  font-size: 0.75rem;
}

.noticeItem{
  display: grid;
  grid-template-columns:0.5fr 2fr;
  grid-template-rows: 1fr;
  align-items: center;
  font-size: 0.75rem;
  color: black;
  background-color: rgb(245, 248, 244);
  margin: 1px;
  padding:0.5rem;
}

.noticeText{
  padding:0.5rem;
}

.dateGroup{
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content:end;
  gap:0.5rem;
}

.dateGroup p{
  margin:0 0.25rem;
  font-size: 0.6rem;
}
.imgContainer {
  width: 100%;
  height: 100%;
  position: relative;
}

.imgWrapper {
  width: 100%;
  display: flex;
  margin: auto;
}

.commonContainer {
  /* border: solid 2px green;
  border-radius: 10px; */
  object-fit: contain;
  background-color: rgb(247, 247, 234);
  flex: 0 0 75%;
  opacity: 1;
  transition: opacity 1.0s ease-in-out;
  margin: auto;
}

.commonContainer img{
  height: 100%;
  width: 10rem;
}

.fadeIn {
  opacity: 1;
}

.fadeOut {
  opacity: 0;
}


.commonContainer h2 {
  margin: 0;
  text-align: center;
  padding: 1rem;
  font-size: 16px;
}

.commonContainer p {
  margin: 0;
  padding: 0.5rem;
  font-size: 12px;
}

.commonContainer img {
  width: 100%;
}

.button {
  margin: 3rem auto;
  text-align: center;
}

.linkButton {
  font-size: 1.5rem;
  text-decoration: none;
  color: white;
}

@media (min-width: 768px) {
  .commonContainer{
    width: 50%;
    margin:auto;
  }

  .commonContainer h2{
    font-size: 1.5rem;
  }

  .commonContainer p{
    font-size: 1rem;
  }

  .noticeContainer{
  width: 30%;
  margin: 2rem auto;
  padding:0rem;}

  .imgWrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10%;
}


}


