.contentsWrapper {
  margin: auto;
  margin-top: 5rem;
  padding-bottom: 20%;
  position:relative;
  width: 95%;

}

.contentsWrapper h1 {
  text-align: center;
}

.contentsWrapper h2 {
  text-align: center;
}

.cardContainer {
  margin: auto;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content:center;
  gap:1.25rem;
}

.sortbuttonWrapper{
  display: flex;
  margin: auto;
  gap:1rem;
  justify-content: center;
  margin:1rem;
}

.buttonWrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 50%;
  margin: 2rem auto;
}

.buttonWrapper Button {
  margin: 0.5rem;
}

.cardContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.challengContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.linkButton {
  background-color: rgb(24, 163, 24);
  color: white;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  text-decoration: none;
  padding: 0.5rem 1rem;
  border-radius: 15px;
}

.loginInputContainer{
  display: flex;
  flex-direction: column;
  margin:2rem;
  font-size: 1.5rem;
}

.loginInputContainer input{
  width: 70%;
  margin:auto;
  font-size: 1.5rem;
}

.loginButton{
  margin-top:5rem;
  text-align: center;
}

.loginButton Button{
  font-size: 1.5rem;
  width: 70%;
}

.inputContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.inputWrapper {
  margin:1rem auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}


.inputWrapper input {
  width: 50%;
  padding: 0 1rem 0 1rem;
  margin-bottom: 1rem;
}

.colorContainer{
  justify-content: start;
  display: flex;
  flex-wrap: wrap;
  padding: 1rem;
}

.colors{
  margin:0.75rem;
}

.bgColors{
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  cursor: pointer;
}

.profileContainer{
  display: flex;
  gap: 1rem;
  justify-content: center;
}

.editContainer{
  display: flex;
  gap: 1rem;
  flex-direction: row;
  justify-content: center;
}

.avatarSelector{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.avatarButton{
  background-color: transparent;
  border:none;
  text-decoration: none;
}

.avatarImg{
  width: 4rem;
}

@media (min-width: 768px) {
  .contentsWrapper {
    justify-content: space-around;
    padding:0 10% 10% 10%;
    width: 75%;
  }

  .profileContainer{
    justify-content:center;
  }

  .loginInputContainer{
  display: flex;
  flex-direction: column;
  font-size: 1.5rem;
}

.loginInputContainer input{
  width: 90%;
  margin:auto;
  font-size: 1.5rem;
}

.loginButton{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin:4rem;
}

.loginButton Button{
  font-size: 1.5rem;
  width: 100%;
  text-align: center;
}

.inputContainer{
  margin:2rem auto;
  width: 70%;
}

.buttonWrapper{
  margin: auto;
}

}

.toastWrapper{
  position:absolute;
  bottom:60%;
  right: 30%;
}

.itemModalContainer{
  display: flex;
  flex-wrap: wrap;
  gap:3rem;
  padding: 1.75rem;
}

.itemContainer{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 3rem;
}

.itemContainer p{
  margin:0;
}



.usersItems{
  border-radius: 50%;
  border: none;
}

.itemsImage{
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  cursor: pointer;
  object-fit: contain;
}

.itemName{
  font-size:0.75rem;
}

.requiredPoint{
  font-size:0.5rem;
}

.purchased{
  font-size:0.5rem;
  background-color:gray;
  color:white;
  border-radius:2rem;
}

.ownedItem{
  background-color:rgb(0,0,0,0.5);
  z-index:1000;
  pointer-events:disabled ;
}

.evolutionOverlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.75);
  z-index: 9999;

  display: flex;
  justify-content: center;
  align-items: center;
}

.evolutionContent {
  text-align: center;
}

.evolutionContent img {
  width: 220px;
}

.animalOld {
  opacity: 1;
}

.animalFadeOut {
  animation: animalFadeOut 1s forwards;
}

.animalFadeIn {
  animation: animalFadeIn 1s forwards;
}

.animalJump {
  animation:
    animalFadeIn 0.6s forwards,
    animalJump 0.8s ease 0.6s;
}

.titleWrapper{
  display: flex;
  flex-direction: column;
  gap:1rem;
  align-items: center;
  justify-content: center;
}

.titleWrapper h1{
  margin:0;
}

.titleWrapper button{
  display: flex;
  margin: 1rem;
  padding:0.25rem 0.5rem;
  align-items: center;
  background-color: white;
  border:1px solid gray;
}
.titleWrapper Button p{
  font-size: 0.75rem;
  margin: 0;
}

@keyframes animalFadeOut {
  from {
    opacity: 1;
    transform: scale(1);
  }

  to {
    opacity: 0;
    transform: scale(0.8);
  }
}

@keyframes animalFadeIn {
  from {
    opacity: 0;
    transform: scale(0.8);
  }

  to {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes animalJump {
  0% {
    transform: translateY(0);
  }

  35% {
    transform: translateY(-40px);
  }

  60% {
    transform: translateY(0);
  }

  80% {
    transform: translateY(-15px);
  }

  100% {
    transform: translateY(0);
  }
}

.adminContainer{
  justify-content:center;
}

.adminWrapper{
  width:5rem;
  margin:1rem auto;
  background-color:white;
  border-radius:10px;
  display:flex;
  flex-direction:column;
  align-items:center;
  padding:0.5rem;
}

.adminWrapper p{
  margin:0;
}
.adminImage{
  margin:0;
  width:5rem;
  height:5rem;

}

.testExplain{
  width:80%;
  margin:auto;
  background-color:white;
  border-radius:10px;
  padding:0.5rem;
}

.testExplain li{
  text-align:start;
  margin-top:0.5rem;
  font-size:0.75rem;

}
