.contentsWrapper {
  margin: auto;
  margin-top: 5rem;
  padding-bottom: 20%;
}

@media (min-width: 768px) {
  .contentsWrapper {
    justify-content: space-around;
    padding:0 10% 10% 10%;
  }
}

.contentsWrapper h1 {
  text-align: center;
}

.contentsWrapper h2 {
  text-align: center;
}

.cardContainer {
  margin: auto;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content:start;
  gap:0.75rem;
  padding: 0.5rem;
}

.sortbuttonWrapper{
  display: flex;
  margin: auto;
  gap:1rem;
  justify-content: center;
}

.buttonWrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 50%;
  margin: auto;
}

.buttonWrapper Button {
  margin: 0.5rem;
}

.cardContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.challengContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.linkButton {
  background-color: green;
  color: white;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  text-decoration: none;
  padding: 0.5rem 1rem;
  border-radius: 15px;
}

.loginInputContainer{
  display: flex;
  flex-direction: column;
  margin:2rem;
  font-size: 1.5rem;
}

.loginInputContainer input{
  font-size: 1.5rem;
}

.loginButton{
  margin-top:5rem;
  text-align: center;
}

.loginButton Button{
  font-size: 2rem;
  width: 80%;
}

.inputContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.inputWrapper {
  margin:1rem auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}


.inputWrapper input {
  width: 50%;
  padding: 0 1rem 0 1rem;
  margin-bottom: 1rem;
}

.white {
  width: 3rem;
  height: 3rem;
  margin: 2rem;
  display: inline-block;
  border: black solid 1px;
  border-radius: 50%;
  background-color: white;
}

.yellow {
  width: 3rem;
  height: 3rem;
  margin: 2rem;
  display: inline-block;
  border: black solid 1px;
  border-radius: 50%;
  background-color: yellow;
}

.blue {
  width: 3rem;
  height: 3rem;
  margin: 2rem;
  display: inline-block;
  border: black solid 1px;
  border-radius: 50%;
  background-color: blue;
}

.profileContainer{
  display: flex;
  padding: 2rem;
  gap: 1rem;
}

.editContainer{
  display: flex;
  padding: 0.5rem;
  gap: 1rem;
}

.avatarSelector{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.avatarButton{
  background-color: transparent;
  border:none;
  text-decoration: none;
}

.avatarImg{
  width: 4rem;
}
