.contentsWrapper {
  margin: auto;
  margin-top: 5rem;
  padding-bottom: 20%;
  position:relative;
  width: 95%;
}



.contentsWrapper h1 {
  text-align: center;
}

.contentsWrapper h2 {
  text-align: center;
}

.cardContainer {
  margin: auto;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content:start;
  gap:0.75rem;
  padding: 0.5rem;
}

.sortbuttonWrapper{
  display: flex;
  margin: auto;
  gap:1rem;
  justify-content: center;
}

.buttonWrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 50%;
  margin: 2rem auto;
}

.buttonWrapper Button {
  margin: 0.5rem;
}

.cardContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.challengContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.linkButton {
  background-color: green;
  color: white;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  text-decoration: none;
  padding: 0.5rem 1rem;
  border-radius: 15px;
}

.loginInputContainer{
  display: flex;
  flex-direction: column;
  margin:2rem;
  font-size: 1.5rem;
}

.loginInputContainer input{
  width: 70%;
  margin:auto;
  font-size: 1.5rem;
}

.loginButton{
  margin-top:5rem;
  text-align: center;
}

.loginButton Button{
  font-size: 1.5rem;
  width: 70%;
}

.inputContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.inputWrapper {
  margin:1rem auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}


.inputWrapper input {
  width: 50%;
  padding: 0 1rem 0 1rem;
  margin-bottom: 1rem;
}

.colorContainer{
  justify-content: start;
  display: flex;
  flex-wrap: wrap;
  padding: 1rem;
}

.colors{
  margin:0.75rem;
}

.bgColors{
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  cursor: pointer;
}

.profileContainer{
  display: flex;
  gap: 1rem;
  justify-content: center;
}

.editContainer{
  display: flex;
  gap: 1rem;
  flex-direction: row;
  justify-content: center;
}

.avatarSelector{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.avatarButton{
  background-color: transparent;
  border:none;
  text-decoration: none;
}

.avatarImg{
  width: 4rem;
}

@media (min-width: 768px) {
  .contentsWrapper {
    justify-content: space-around;
    padding:0 10% 10% 10%;
    width: 50%;
  }

  .profileContainer{
    justify-content:center;
  }

  .loginInputContainer{
  display: flex;
  flex-direction: column;
  font-size: 1.5rem;
}

.loginInputContainer input{
  width: 90%;
  margin:auto;
  font-size: 1.5rem;
}

.loginButton{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin:4rem;
}

.loginButton Button{
  font-size: 1.5rem;
  width: 100%;
  text-align: center;
}

.inputContainer{
  margin:2rem auto;
  width: 70%;
}

.buttonWrapper{
  margin: auto;
}

}

.toastWrapper{
  position:absolute;
  bottom:60%;
  right: 30%;
}

.itemModalContainer{
  display: flex;
  flex-wrap: wrap;
  gap:2rem;
  padding: 1.75rem;
}

.itemContainer{
  justify-content: start;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 3rem;
}

.itemContainer p{
  margin:0;
}

.usersItems{
  border-radius: 50%;
  border: none;
}

.itemsImage{
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  cursor: pointer;
  object-fit: contain;
}
