.modalContainer{
    width: 75%;
    height: 50%;
    border:2px solid green;
    background-color:bisque;
    position:fixed;
    z-index: 1000;
    top:0;
    left:0;
    right:0;
    bottom:0;
    border-radius: 5px;
    padding:0.5rem;
    margin:auto;
    text-align: center;
    overflow-y: scroll;
    animation:fadeIn 0.3s forwards ease-in;
    z-index: 10;
}

.ovarlay{
    position: fixed;
    background-color: rgba(0,0,0,0.5);
    inset:0;
}

@keyframes fadeIn{
    0%{
        opacity: 0%;
    }
    100%{
        opacity: 100%;
    }
}

@media (min-width:768px){
    .modalContainer{
        width: 40%;
        height: 40%;
    }
}

.closeButton{
    margin:auto;
}



