.modalContainer{
    width: 50%;
    height: 40%;
    border:2px solid green;
    background-color:bisque;
    position:fixed;
    z-index: 1000;
    top:0;
    left:0;
    right:0;
    bottom:0;
    border-radius: 5px;
    padding:1rem;
    margin:auto;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.closeButton{
    margin:3rem 0 0 0;
}


