.tableContainer {
  margin: auto;
  width: 100%;
  max-height: 100%;
  margin-top: 5rem;
  padding-bottom: 5rem;
}

.tableContainer h1{
  text-align: center;
  font-size: 2rem;
}

.deleteTable {
  width: 100%;
  margin: auto;
}

.deleteTable tr {
  background-color: rgb(112, 201, 112);
  width: 100%;
  padding: 1rem;
  color: white;
}

.deleteTable th {
  padding: 1rem;
  font-size: 0.75rem;
}

.deleteTable td {
  background-color: antiquewhite;
  padding: 0.25rem;
  color: black;
  width: 6rem;
  text-align: center;
  font-size: 0.75rem;
}

.deleteTable img {
  width: 2rem;
}

.deleteTable button {
  font-size: 0.5rem;
}

@media (min-width: 768px) {
  .deleteTable{
    margin-top: 5%;
    width: 80%;
  }

  .deleteTable img {
    width: 4rem;
  }
  .deleteTable th {
    font-size: 1rem;
  }

  .deleteTable td {
    font-size: 1rem;
  }

  .deleteTable button {
    font-size: 1rem;
  }
}
