.inputContainer{
    padding-top:5%;
    width: 50%;
    display: flex;
    flex-direction: column;
    gap:2rem;
    margin:auto;
}

.inputForm{
    display: flex;
    flex-direction: column;
}

.inputText{
    display: flex;
    flex-direction: column;
}

.inputText textarea{
    height: 10rem;
    vertical-align: text-top;
    padding:1rem;
    border-radius: 10px;
    border: 1px solid green;
}

.submitButton{
    margin: 1rem;
    text-align: end;
}

h1{
    text-align: center;
}