.noticeContainer{
    width: 60%;
    margin: 2rem auto;
}

.noticeTable{
    margin:auto;
        border-radius: 12px;
    overflow: hidden;
}

.noticeTable th{
    background-color: green;
    color: white;
    font-size: 14px;
    padding:0 1rem;
}

.noticeTable td{
    background-color: rgb(249, 250, 248);
    font-size: 12px;
    padding:0.5rem;
}

.noticTitle{
    background-color: green;
    color:white;
}