.registerContainer {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 2rem;
  margin: auto;
  margin-top: 5rem;
  padding-bottom: 5rem;
  width: 60%;
}

.registerContainer h2 {
  text-align: center;
}

.registerContainer label {
  display: flex;
  flex-direction: column;
  margin:auto;
  width: 100%;
  
}

input {
  height: 40px;
  border: 1px solid green;
  border-radius: 25px;
  padding: 0 1rem 0 1rem;
}

.avatarButton{
  background-color: transparent;
  border:none;
  text-decoration: none;
}

.avatarImg{
  width: 4rem;
  margin:0.5rem;
}

.colorContainer{
  justify-content: start;
  display: flex;
  padding: 1rem;
  gap:2rem;
}

.colors{
  margin:1rem;
  padding:1rem;
  display: flex;
  flex-wrap: wrap;
}

.bgColors{
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  cursor: pointer;
  margin:1rem;
}

.avatarPreview{
  width: 6rem;
  border-radius: 50%;
  padding: 0.5rem;
  margin:auto;
  border: 1px solid green;
}

@media (min-width:768px){
  .registerContainer{width: 40%;gap:2rem;}
  .registerContainer label{width:100%;margin:auto;}

  .avatarButton{
  background-color: transparent;
  border:none;
  text-decoration: none;
}
}